<h1><%= @figure.name %>Edit Page</h1>

<form action="/figures/<%= @figure.id %>" method='post'>
    <input type='hidden' name='_method' value='patch' />

    <h5>Name: </h5> <input id='figure_name' type='text' name="figure[name]" value="<%= @figure.name %>"/>

    <h3>Titles</h3>
    <% @titles.each do |title| %>
        <input id='title_<%= title.id %>' type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %><br/>
    <% end %>

    <h3>Create New Title</h3>
        <input id='new_title' type='text' name="title[name]" />

    #<---Landmark Section--->

    <h3>Landmarks</h3>
    <% @landmarks.each do |landmark| %>
        <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %><br/>
    <% end %>

    <h3>Create New Landmark</h3>
    <input id='new_landmark' type='text' name="landmark[name]" />

    <input type='submit' value='Edit Figure' />
</form>